/* custom work */
.w3-active-pager {
  background-color: #f8f4f3 !important;
}
.w3-button:hover {
  /* w3-theme-l4 background color */
  background-color: #f5f8d7 !important;
  /* w3-theme-d5 background color */
  color: #3d2b24  !important;
}
