/* custom work */
.w3-active-pager {
  background-color: #fff9f0 !important;
}
.w3-button:hover {
  /* w3-theme-l4 background color */
  background-color: #ffebcc !important;
  /* w3-theme-d5 background color */
  color: #804d00 !important;
}
