/* custom work */
.w3-active-pager {
  background-color: #e9fffd !important;
}
.w3-button:hover {
  /* w3-theme-l4 background color */
  background-color: #b7fff8 !important;
  /* w3-theme-d5 background color */
  color: #004a43 !important;
}
