/* custom work */
.w3-active-pager {
  background-color: #f8fbf4 !important;
}
.w3-hover-over:hover,
.w3-button:hover {
  /* w3-theme-l4 background color */
  background-color: #e8f3db !important;
  /* w3-theme-d5 background color */
  color: #466522 !important;
}
