/* custom work */
.w3-active-pager {
  background-color: #f3f4fb !important;
}
.w3-button:hover {
  /* w3-theme-l4 background color */
  background-color: #d8dcf1 !important;
  /* w3-theme-d5 background color */
  color: #20295b  !important;
}
