/* custom work */
.w3-active-pager {
  background-color: #f8fcfe !important;
}
.w3-button:hover {
  /* w3-theme-l4 background color */
  background-color: #f8fcfe !important;
  /* w3-theme-d5 background color */
  color: #1b7a9f !important;
}
