/* custom work */
.w3-active-pager {
  background-color: #edfdff !important;
}
.w3-button:hover {
  /* w3-theme-l4 background color */
  background-color: #c4f8ff !important;
  /* w3-theme-d5 background color */
  color: #005f6b !important;
}
