/* custom work */
.w3-active-pager {
  background-color: #fffef3 !important;
}
.w3-button:hover {
  /* w3-theme-l4 background color */
  background-color: #fffbd8 !important;
  /* w3-theme-d5 background color */
  color: #9e8e00 !important;
}
