/* custom work */
.w3-active-pager {
  background-color: #f4faf4 !important;
}
.w3-button:hover {
  /* w3-theme-l4 background color */
  background-color: #dbefdc !important;
  /* w3-theme-d5 background color */
  color: #265728 !important;
}
