<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="typed_data">
  <description>Default PHP CodeSniffer configuration for Typed Data</description>
  <file>.</file>

  <arg name="extensions" value="inc,install,module,php,profile,txt,yml"/>
  <!-- Use 's' to print the full sniff name in the report. -->
  <arg value="s"/>
  <arg value="-colors"/>

  <!-- Ignore all files that match these patterns. By default the full file  -->
  <!-- path is checked, unless type=relative is used. There is an implied * -->
  <!-- wildcard at each end and periods and slashes must be escaped using \ -->
  <exclude-pattern>vendor</exclude-pattern>
  <exclude-pattern>\/_+ignore</exclude-pattern>
  <exclude-pattern>interdiff</exclude-pattern>

  <!-- Include all Drupal and DrupalPractice sniffs by default, then adjust. -->
  <rule ref="Drupal"/>
  <rule ref="DrupalPractice"/>

  <!-- Ignore specific sniffs in all files. The following are either not
       relevant for Typed Data or we have decided not to adhere to them. -->
  <rule ref="DrupalPractice">
    <!-- Allow empty lines after comments, we don't care. -->
    <exclude name="DrupalPractice.Commenting.CommentEmptyLine"/>
  </rule>

  <rule ref="Drupal.Files.TxtFileLineLength.TooLong">
    <exclude-pattern>README.*</exclude-pattern>
  </rule>

  <!-- Increase the allowed line length for inline array declarations. -->
  <rule ref="Drupal.Arrays.Array">
    <properties>
      <property name="lineLimit" value="160"/>
    </properties>
  </rule>

</ruleset>
