html,
body,
button,
input,
select,
optgroup,
textarea,
.ul-parent-account,
.ul-parent-footer {
  color: #19391a;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #37803a;
}

.cke_top,
.w3-border,
ul.primary,
.cke_bottom,
.cke_chrome,
ul.secondary,
ul.primary > li {
  border-color: #cde9ce !important;
}

a,
.w3-button {
  transition: 0.4s !important;
}
#open-nav-inner:hover,
#open-search:hover,
.w3-button:hover {
  color: #cde9ce !important;
  background-color: #2d6830 !important;
}

.ul-parent-account {
  color: inherit;
}

#header .fa,
#header .svg-inline--fa {
  color: inherit;
}

#page-title,
#highlighted,
.page-wrapper,
#top-container,
#footer-container,
.search-slide-wrapper,
#top-container .top-box > div,
#footer-container .footer-box>div,
#bottom-container .bottom-box>div {
  background-color: white;
  color: #19391a;
}

.main-navigation-wrapper,
.close-nav,
.mobile-nav {
  background-color: #4caf50;
  color: white;
}

#header {
  background-color: #47a34b;
  color: white !important;
}
#footer-menu h1,
#footer-menu h2,
#footer-menu h3,
#footer-menu h4,
#footer-menu h5,
#footer-menu a,
#footer-menu p,
#header h1,
#header h2,
#header h3,
#header h4,
#header h5,
#header a,
#header p {
  color: white !important;
}

#main-container {
  background-color: #f0f9f1;
  color: #19391a;
}

#top-container .top-box>div,
#bottom-container .bottom-box>div,
#footer-container .footer-box>div {
  border: 1px solid #cde9ce;
  transition: 0.4s !important;
}
input:focus,
select:focus,
textarea:focus,
#top-container .top-box > div:hover,
#bottom-container .bottom-box>div:hover,
#footer-container .footer-box>div:hover {
  box-shadow: 0 25px 57px 0 rgba(0, 0, 0, .25);
  border-color: #c1e4c2;
}

#bottom-container,
.pager__item.is-active {
  background-color: #e4f3e5;
  color: #19391a;
}

#footer-menu {
  background-color: #0e210f;
  color: white;
}

#footer-menu-inner form.w3-content {
  border: 1px solid #4caf50;
}

#copyright {
  background-color: #09150a;
  color: white;
}

/* button animation  */
.w3-button {
  position: relative;
}

.w3-button:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: transparent;
  border-bottom: 1px solid transparent;
}

.w3-button:hover:before {
  animation: btnBorderAnimation 0.1s linear forwards;
}

@keyframes btnBorderAnimation {
  0% {
    width: 0;
    height: 0;
    border-bottom-color: #fff;
  }

  99.9999% {
    width: 100%;
    height: 100%;
    border-bottom-color: #fff;
  }
  100% {
    width: 0;
    height: 0;
    border-bottom-color: transparent;
  }
}

/* Border animation  */
#top-container .top-box>.animate-border,
#bottom-container .bottom-box>.animate-border,
#footer-container .footer-box>.animate-border {
  position: relative;
}

#top-container .top-box>.animate-border:before,
#bottom-container .bottom-box>.animate-border:before,
#footer-container .footer-box>.animate-border:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: transparent;
  border: 2px solid transparent;
}

#top-container .top-box>.animate-border:hover:before,
#bottom-container .bottom-box>.animate-border:hover:before,
#footer-container .footer-box>.animate-border:hover:before {
  animation: borderLeftColors 1s linear forwards;
}

@keyframes borderLeftColors {
  0% {
    width: 0;
    height: 0;
    border-top-color: #86ca89;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  50% {
    width: 100%;
    height: 0;
    border-top-color: #86ca89;
    border-right-color: #86ca89;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  99.9999% {
    width: 100%;
    height: 100%;
    border-top-color: #86ca89;
    border-right-color: #86ca89;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  100% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}

#top-container .top-box>.animate-border:after,
#bottom-container .bottom-box>.animate-border:after,
#footer-container .footer-box>.animate-border:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  background-color: transparent;
  border: 2px solid transparent;
}

#top-container .top-box>.animate-border:hover:after,
#bottom-container .bottom-box>.animate-border:hover:after,
#footer-container .footer-box>.animate-border:hover:after {
  animation: borderRightColors 1s linear forwards;
}

@keyframes borderRightColors {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #86ca89;
    border-left-color: transparent;
  }

  50% {
    width: 100%;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #86ca89;
    border-left-color: #86ca89;
  }

  99.9999% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #86ca89;
    border-left-color: #86ca89;
  }
  100% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}
