/* Global */
a,
.w3-button {
  transition: 0.4s !important;
}

.ul-parent-account {
  color: inherit;
}

#header .fa,
#header .svg-inline--fa {
  color: inherit;
}

#top-container .top-box>div,
#bottom-container .bottom-box>div,
#footer-container .footer-box>div {
  border-width: 1px;
  border-style: solid;
  transition: 0.4s !important;
}

/* Text Color - Dark */
html,
body,
button,
input,
select,
optgroup,
textarea,
#page-title,
#highlighted,
.page-wrapper,
#top-container,
#main-container,
#footer-container,
.ul-parent-footer,
.search-slide-wrapper,
#top-container .top-box>div,
#footer-container .footer-box>div,
#bottom-container .bottom-box>div,
#footer-container .footer-box>div {
  color: #3f5151;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #566d6d;
}

/* Text Color - light */
#header,
#header h1,
#header h2,
#header h3,
#header h4,
#header h5,
#header a,
#header p,
#copyright,
.close-nav,
.mobile-nav,
#footer-menu,
#footer-menu h1,
#footer-menu h2,
#footer-menu h3,
#footer-menu h4,
#footer-menu h5,
#footer-menu a,
#footer-menu p,
.main-navigation-wrapper {
  color: #f0f3f3 !important;
}

/* Light Background  */
#page-title,
#highlighted,
.page-wrapper,
#top-container,
#footer-container,
.search-slide-wrapper,
#top-container .top-box>div,
#footer-container .footer-box>div,
#bottom-container .bottom-box>div {
  background-color: #fff;
}

#main-container,
.search-slide-wrapper,
.pager__item.is-active {
  background-color: #fafbfb !important;
}

#bottom-container {
  background-color: #f0f3f3;
}

/* Dark Background  */
#header {
  background-color: #5d7777;
}

.close-nav,
.mobile-nav,
.main-navigation-wrapper {
  background-color: #6c8a8a;
}

#footer-menu {
  background-color: #1a2121;
}

#footer-menu-inner form.w3-content {
  border: 1px solid #6c8a8a;
}

#copyright {
  background-color: #0b0e0e;
}

/* Border Color  */
.cke_top,
.w3-border,
ul.primary,
.cke_bottom,
.cke_chrome,
ul.secondary,
ul.primary > li,
#top-container .top-box>div,
#bottom-container .bottom-box>div,
#footer-container .footer-box>div {
  border-color: #dde5e5 !important;
}

/* Hover Color  */
.w3-hover-over:hover,
.w3-button:hover,
#open-search:hover,
#open-nav-inner:hover {
  color: #dde5e5 !important;
  background-color: #566d6d !important;
}
input:focus,
select:focus,
textarea:focus,
#top-container .top-box>div:hover,
#bottom-container .bottom-box>div:hover,
#footer-container .footer-box>div:hover {
  box-shadow: 0 25px 57px 0 rgba(0, 0, 0, .25);
  border-color: #b7c7c7;
}

/* button animation  */
.w3-button {
  position: relative;
}

.w3-button:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: transparent;
  border-bottom: 1px solid transparent;
}

.w3-button:hover:before {
  animation: btnBorderAnimation 0.1s linear forwards;
}

@keyframes btnBorderAnimation {
  0% {
    width: 0;
    height: 0;
    border-bottom-color: #fff;
  }
  99.9999% {
    width: 100%;
    height: 100%;
    border-bottom-color: #fff;
  }
  100% {
    width: 0;
    height: 0;
    border-bottom-color: transparent;
  }
}

/* Border animation  */
#top-container .top-box>.animate-border,
#bottom-container .bottom-box>.animate-border,
#footer-container .footer-box>.animate-border {
  position: relative;
}

#top-container .top-box>.animate-border:before,
#bottom-container .bottom-box>.animate-border:before,
#footer-container .footer-box>.animate-border:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: transparent;
  border: 2px solid transparent;
}

#top-container .top-box>.animate-border:hover:before,
#bottom-container .bottom-box>.animate-border:hover:before,
#footer-container .footer-box>.animate-border:hover:before {
  animation: borderLeftColors 1s linear forwards;
}

@keyframes borderLeftColors {
  0% {
    width: 0;
    height: 0;
    border-top-color: #566d6d;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  50% {
    width: 100%;
    height: 0;
    border-top-color: #566d6d;
    border-right-color: #566d6d;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  99.9999% {
    width: 100%;
    height: 100%;
    border-top-color: #566d6d;
    border-right-color: #566d6d;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  100% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}

#top-container .top-box>.animate-border:after,
#bottom-container .bottom-box>.animate-border:after,
#footer-container .footer-box>.animate-border:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  background-color: transparent;
  border: 2px solid transparent;
}

#top-container .top-box>.animate-border:hover:after,
#bottom-container .bottom-box>.animate-border:hover:after,
#footer-container .footer-box>.animate-border:hover:after {
  animation: borderRightColors 1s linear forwards;
}

@keyframes borderRightColors {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #566d6d;
    border-left-color: transparent;
  }

  50% {
    width: 100%;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #566d6d;
    border-left-color: #566d6d;
  }

  99.9999% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #566d6d;
    border-left-color: #566d6d;
  }
  100% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}
