/**
 * @file
 * Styling for the ds-3col-equal template.
 */

.ds-3col-equal > .group-left {
  float: left; /* LTR */
  width: 33%;
}

[dir="rtl"] .ds-3col-equal > .group-left {
  float: right;
}

.ds-3col-equal > .group-middle {
  float: left; /* LTR */
  width: 34%;
}

[dir="rtl"] .ds-3col-equal > .group-middle {
  float: right;
}

.ds-3col-equal > .group-right {
  float: right; /* LTR */
  width: 33%;
}

[dir="rtl"] .ds-3col-equal > .group-right {
  float: left;
}
